nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 85);
    color: yellow;
    padding-inline: 15px;
}
body {
    padding: 0;
    margin: 0;
    background-image: url("scenery.jpg");
    background-color: rgb(23, 23, 59);
    color: yellow;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(28, 28, 85);
    color: yellow;
    padding-inline: 15px;
}
ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

main {
    width: 80vw;
    margin-inline: auto;

}

.about {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.heading span {
    border-bottom: 1px solid red;
}
.about 
    height: 250px;
    width: 250px;
}
.skills-container {
    display: flex;
    font-size: 22px;
    gap: 1.2rem;
    flex-wrap: wrap;
}
.project-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.project-card {
    width: 350px;
    box-shadow: 10px 10px 15px rgba(160, 79, 79, 0.2);
    padding: 10px;
}
.project-card img {
    height: 300px;
    width: 300px;
}